
*{
    margin: 0;
    padding: 0;
    background: #93c1f9;
}
img{
    width: 100%;
}
.fv-txt{
    margin: 20px auto 40px;
}
p{
    padding: 0 10%;
    margin: 5px auto ;
    color: #ffffff;
    font-size: 12px;
}
/* 画面外にいる状態 */
.fadein {
    opacity : 0.1;
    transform : translate(0, 50px);
    transition : all 500ms;
}

/* 画面内に入った状態 */
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
    display: inline-block;
}